<%= page_heading "About" %>
<div class="container">
    <div class="row">
    	<div class="col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
    		<%= image_tag("profile.jpg", :alt => "Joy's profile pic", :class => "img-responsive img-rounded") %>
    	</div>
    	<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
    		<p>Hello, this is Joy, a second-year Computer Science and Statistics student at the University of Waterloo. <p>
    		<p>I am naturally curious and excited about new technologies. In just two years, I have learnt about object-oriented software design patterns, full stack web development, data analytics and machine learning. I am most comfortable with C/C++ and have also worked with C#, Ruby, Python and JavaScript (to name a few). I have discovered my passion for 3D computer graphics and game development through online courses and am planning to explore more about shader and game engine programming.</p>
    		<p>I am also a bilingual writer &#38; amateur photographer and played Chinese zither for 14 years. It is always exhilarating to record the sheer beauty of nature with a camera, the intertwining thoughts and sudden inspirations with a pen, and the most complex inner feelings with music. </p>
    		<p>If you feel a connection and wish to talk, please feel free to click on any of the links below. And make sure to check my gallery (just started on a new platform but will be sharing tons of awesome photos)!</p>
    	</div>
    </div>
</div>