<%= page_heading "Projects" %>
<div class="container">
	<div class="row">
    	<div class="project-pic col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
    		<%= image_tag("projects/website.png", :alt => "Personal Website", :class => "img-responsive") %>
    	</div>
    	<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
    		<h3 class="project-title">Personal Website</h3>
    		<h4>Responsive design, full stack web development</h3>
    		<p>Built from scratch using Ruby on Rails, hosted on Heroku.  Implemented blogging features and a RESTful api for user authentication. Designed front end with Bootstrap, added dependency injection via AngularJS. Customized photo gallery hosted on AWS is still in progress. </p>
    	</div>
    </div>
    <hr>
    <div class="row">
    	<div class="project-pic col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
    		<%= image_tag("projects/mcm.png", :alt => "People's Choice of Best Coach", :class => "img-responsive") %>
    	</div>
    	<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
    		<h3 class="project-title">People's Choice of Best Coach</h3>
    		<h4>Statistical modelling, machine learning</h4>
    		<p>Team project for the 2014 Mathematical Contest in Modelling (Problem B).  Built decision models based on Analytic Hierarchy Process using Matlab.  Optimized result with a forecasting model based on Artificial Neural Network. Finished a 7,000-word essay in four days and won the Honourable Mention prize. To learn more please click <%= link_to "here", "https://www.dropbox.com/s/gwoue6wwdbjw0oh/Team%20%2331579%20People%27s%20Choice%20of%20Best%20Coach.pdf?dl=0" %></p>
    	</div>
    </div>
</div>